table {
  border-spacing: 0;
}

.right {
  display: flex;
  justify-content: flex-end;
}

th {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

td .field input:focus,
td .field select:focus {
  min-width: 300px;
}
