.validation {
  padding: 1em;
  font-weight: bold;
  border-radius: 5px;
}

.validation-valid {
  background: repeating-linear-gradient(
    -45deg,
    rgba(9, 172, 9, .4),
    rgba(9, 172, 9, .4) 10px,
    rgba(9, 172, 9, .2) 10px,
    rgba(9, 172, 9, .2) 20px
  );
}

.validation-errors {
  background: repeating-linear-gradient(
    -45deg,
    rgba(236, 0, 0, .4),
    rgba(236, 0, 0, .4) 10px,
    rgba(236, 0, 0, .2) 10px,
    rgba(236, 0, 0, .2) 20px
  );
}

