.validation {
  padding: 1em;
  font-weight: bold;
  border-radius: 5px;
}

.validation-valid {
  background-color: rgb(9, 172, 9);
  color: white;
}

.validation-errors {
  background-color: #ec0000;
  color: white;
}
